@font-face {
    font-family: "LeagueOfLegendsRegularFont";
    src: url("../fonts/BeaufortforLOL-Regular.ttf");
}

@font-face {
    font-family: "LeagueOfLegendsBoldFont";
    src: url("../fonts/BeaufortforLOL-Bold.ttf");
}

@font-face {
    font-family: "LeagueOfLegendsMediumFont";
    src: url("../fonts/BeaufortforLOL-Medium.ttf");
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: "LeagueOfLegendsRegularFont";
}

h1, h4, h5, h6, #title, .settings-title {
    font-family: "LeagueOfLegendsBoldFont" !important;
}

#title {
    text-transform: uppercase;
}

.btn {
    width: 100px;
    border: 0.25rem solid;
}

#timerBar {
    transition: none !important;
}

#gameRow {
    height: 150px;
}

#startButton {
    font-size: 50px;
}

body {
    background-size: cover;
    background-color: #000000;
}

.card {
    border: 0.25rem solid;
}

h1, h4, h5, h6, button, #title, p {
    color: #eceff4 !important;
}

.card-text {
    font-family: "LeagueOfLegendsMediumFont";
    font-size: 25px;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

canvas {
    border: 0.25rem solid;
    border-radius: 0.375rem;
}

.btn-danger {
    background-color: #af2634 !important;
    border-color: #af2634 !important;
}

.btn-success {
    background-color: #76b53f !important;
    border-color: #76b53f !important;
}

.btn-info {
    background-color: #5e81ac !important;
    border-color: #5e81ac !important;
}

.btn-danger:hover {
    background-color: #f67481 !important;
    border-color: #f67481 !important;
}

.btn-success:hover {
    background-color: #b1e285 !important;
    border-color: #b1e285 !important;
}

.btn-info:hover {
    background-color: #4a6d98 !important;
    border-color: #4a6d98 !important;
}

.btn-success:active {
    background-color: #5b8f2c !important;
    border-color: #5b8f2c !important;
}

.btn-danger:active {
    background-color: #92101d !important;
    border-color: #92101d !important;
}

.progress-bar {
    width: 100%;
}

#progressBar {
    border: 0.25rem solid;
    height: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.modal-content {
    background-color: #eceff4;
}

.modal-title, .modal-body {
    color: #2e3440 !important;
}

p {
    font-size: large;
}

.btn-chosen {
    background-color: #000000 !important;
}

#ultImage {
    max-width: 64px;
    width: 100%;
    outline: 0.25rem solid;
    border-radius: 0.5%;
}

#circleContainer {
    max-height: 50px;
    min-width: 175px;
}

#circleContainer img {
    height: 100%;
    width: 50px;
    padding: 0;
}

#discordName, #discordIcon, .modal-body p, .modal-title {
    color: white !important;
}

.modal-content {
    background-color: black;
}

.btn-close {
    background-color: white;
}

.garen-head {
    background: none;
    border: 0.35rem solid black;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

#cursorLegacy {
    padding: 5px;
}

#cursorModern {
    padding-left: 5px;
}

#explanationText span {
    font-family: "LeagueOfLegendsMediumFont";
    font-size: 22px;
    line-height: 1.5rem;
}

#calculationInfo {
    color: white;
    top: 0%;
    left: 100%;
}

.tooltip-inner {
    max-width: 500px;
}

#ultImageContainer {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}
