.btn {
    width: 100px;
    border: 0.25rem solid;
}

#timerBar {
    transition: none !important;
}

#gameRow {
    height: 150px;
}

#startButton {
    font-size: 50px;
}

body {
    background-size: cover;
    background-color: #000000;
}

.card {
    border: 0.25rem solid;
}

h1, h5, .card-title, button, #title {
    color: #eceff4 !important;
}

#hpBar {
    outline: 0.25rem solid;
    outline-offset: -1px;
    border-radius: 0.5%;
}

.btn-danger {
    background-color: #c4424f !important;
    border-color: #c4424f !important;
}

.btn-success {
    background-color: #8dc15e !important;
    border-color: #8dc15e !important;
}

.btn-info {
    background-color: #5e81ac !important;
    border-color: #5e81ac !important;
}

.btn-danger:hover {
    background-color: #f67481 !important;
    border-color: #f67481 !important;
}

.btn-success:hover {
    background-color: #bff390 !important;
    border-color: #bff390 !important;
}

.btn-info:hover {
    background-color: #4a6d98 !important;
    border-color: #4a6d98 !important;
}

.btn-success:active {
    background-color: #5b8f2c !important;
    border-color: #5b8f2c !important;
}

.btn-danger:active {
    background-color: #92101d !important;
    border-color: #92101d !important;
}

.progress-bar {
    background-color: #5e81ac;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.modal-content {
    background-color: #eceff4;
}

.modal-title, .modal-body {
    color: #2e3440 !important;
}

.modal-body > p {
    font-size: large;
}

.btn-chosen {
    background-color: #000000 !important;
}

#ultImage {
    max-width: 64px;
    width: 100%;
    outline: 0.25rem solid;
    border-radius: 0.5%;
}

.rounded-circle {
    background-color: black;
    height: 100%;
    width: 25%;
    min-width: 50px;
}

#circleContainer {
    max-height: 50px;
    min-width: 175px;
}

#discordName, #discordIcon, .modal-body p, .modal-title {
    color: white !important;
}

.modal-content {
    background-color: black;
}
